* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFF;
}

body {
  overflow: hidden;
}

#controls {
  position: absolute;
  bottom: 0;
  background-color: indigo;
  color: #FFF;
  width: 100%;
  min-height: 100px;
  border-top: 1px solid #333;
  font-family: Helvetica, arial;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls div {
  font-size: 40px;
  margin: 3px;
}

#controls input[type='button'] {
  background: purple;
  color: #FFF;
  font-family: Helvetica, arial;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

#controls select {
  margin-top: 6px;
}

#time-bars-beats {
  color: #FF1CAE;
}

#time-seconds {
  color: #71DE71;
}

#time-ticks {
  color: #FF9500;
}

#time-millis {
  color: #7100FF;
}

#tempo {
  color: #1BB2E0;
}

#signature {
  color: #1BB2E0;
}

#position {
  color: #FF9500;
}

#pitch {
  color: #FF9500;
}

#scale-label {
  color: #211E1E;
}

#mouse-x, #mouse-y {
  color: #1BB2E0;
}

.pipe {
  color: #eee;
  margin-top: 0px;
}

#playhead {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 21px;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

#playhead-line {
  width: 10px;
  height: 100%;
  border-right: 2px solid purple;
}

#editor {
  background-color: #fff;
  float: left;
  overflow: auto;
  overflow: hidden;
}

#score {
  height: 100%;
  width: 100%;  /*min-width: 100px;*/

  /*background-color: #fcf;*/
  position: relative;  /*overflow: hidden;*/
}

#bar-lines {
  height: 100%;
  position: absolute;
  z-index: 1;
}

#beat-lines {
  height: 100%;
  position: absolute;
  z-index: 1;
}

#sixteenth-lines {
  height: 100%;
  position: absolute;
  z-index: 1;
}

#pitch-lines {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#notes {
  position: absolute;
  z-index: 2;
}

#parts {
  position: absolute;
  z-index: 1;
}

.pitch-line {
  position: absolute;
  background-position: top;
  background-repeat: repeat-x;
  width: 100%;
}

.black-key {
  /*background-color: #ddd;*/
  background: #ddd1e7;
}

.bar-line {
  position: absolute;
  background-repeat: repeat-y;
  background-position: left;
  height: 100%;
}

.beat-line {
  position: absolute;
  background-repeat: repeat-y;
  background-position: left;
  height: 100%;
}

.sixteenth-line {
  position: absolute;
  background-repeat: repeat-y;
  background-position: left;
  height: 100%;
}

.note {
  position: absolute;
  background-color: #551a8b;
  border: none;
  z-index: 10;
  border: 2px solid #9975b9;
}

.note-active {
  background-color: #9975b9;
  border: none;  /*z-index: 10;*/
  border: 2px solid #551a8b;
}

.note-muted {
  background-color: #555;
  border: 1px solid #000;
}

.part {
  position: absolute;
  background-color: rgba(55, 55, 55, 0.5);
  z-index: 9;
  border: 1px solid #f00;
}

.part-active {
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 9;
  border: 1px solid #f00;
}

.part-muted {
  background-color: rgba(55, 55, 55, 0.5);
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
